modules = ["dotnet-7.0", "angular-node-20", "bun-1.1", "bun-1.0", "c-clang14", "dart-3.4", "dart-3.2", "dart-2.18", "deno-1", "elixir-1_15", "elixir-1_16", "go-1.21", "go-1.20", "gcloud", "haskell-ghc9.6", "haskell-ghc9.4", "haskell-ghc9.2", "hermit-0.38.2", "lua-5.2", "nix", "nodejs-20", "nodejs-19", "java-graalvm22.3", "cpp-clang14", "clojure-1.11", "haskell-ghc9.0", "nodejs-18", "nodejs-16", "php-8.2", "python-3.9", "python-3.8", "python-3.12", "python-3.11", "python-3.10", "qbasic", "r-4.2", "replit-rtld-loader", "ruby-3.1", "python-with-prybar-3.10", "docker", "nodejs-with-prybar-18", "pyright-extended", "web", "vue-node-18", "vue-node-20", "typescript-language-server", "swift-5.6", "swift-5.8", "svelte-kit-node-20", "rust-nightly", "ruby-3.2", "php-8.1", "nodejs-14", "bash", "go-1.19"]
[nix]
channel = "stable-24_05"
